# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/src/Ambev.Api/bin/Debug/net6.0
/src/Ambev.Api/obj
/src/Ambev.Application/bin/Debug/net6.0
/src/Ambev.Application/obj
/src/Ambev.Domain/bin/Debug/net6.0
/src/Ambev.Domain/obj
/src/Ambev.Infrastructure/bin/Debug/net6.0
/src/Ambev.Infrastructure/obj
/src/Ambev.Tests/bin/Debug/net6.0
/src/Ambev.Tests/obj
